@charset "UTF-8";
.header {
  color: Black;
  padding:45px;
  background-color:rgba(84, 141, 149, 0.6);
  line-height:150%;
	font-size:18px;
}
h1{
	font-size:40px;
  font-weight: 700;
}
div.absolute,h1 {
	position:absolute;
	top: 150px;
  left: 520px;
  width: 1000px;
  height: 50px;
}
div.absolute,p {
	position:absolute;
	top: 230px;
  left: 520px;
  width: 800px;
  height: 50px;
}
h1,h2,h3{
	font-family: "Josefin Sans", sans-serif; 
	font-style:normal;
	color:black;
	text-transform: uppercase;
}
h2 {
	font-size:25px;
	margin-bottom:15px;
}
h3{
	font-size:20px;
	margin-bottom:10px;
}
body{
	font-family: "PT Serif", serif;
	font-size:100%;
	color:black;
	background-color:rgba(242, 247, 249,0.8);
}
.paragraphone,.paragraphtwo,.paragraphthree {
	text-align: justify;
	text-justify: inter-word;
	margin-left:100px;
	margin-right:250px;
}
ul{
	list-style-position:inside;
	margin-top:10px;
	list-style-image:url('star.jpg');
}
#type {
	margin-left:40px;
	font-size:18px;
	margin-bottom:40px;
}
#experience{
	margin-top:40px;
}
#contact{
	font-weight:bold;
	font-size:18px;
	margin-left:40px;
	margin-bottom:5px;
	color:rgba(84, 141, 149, 1.0);
}
a:link {
  color: #0000EE;
}

a:visited {
  color: #551A8B;
}

a:hover {
  color: #EE0000;
}
a:active {
  color:#0000EE  ;
  background-color: white;
}
